.jumbotron {
  min-height: 300px;
  padding-top: 100px;
  background-image: url("./img/sunrise.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
}
.link{
  color:red;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
